.list-to-add {

  .row {
    &:first-child {
      & > * {
        label {
          display: block;
        }
      }
    }

    & > * {
      label {
        display: none;

        @media screen and (max-width: 767px) {
          display: block;
        }
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 10px;
      }
    }
    margin: 10px auto;
  }

  & > button {
    margin-top: 15px;
  }
}

.buttons {
  margin-top: 15px;
  text-align: center;
}
