<div class="container-fluid">
  <div class="current-queue">
    <h2>Current queue</h2>
    <div class="row" *ngIf="!currentFixpartsQueue.length">
      <p class="col-md-12">Queue is empty</p>
    </div>
    <sortable-parts
      *ngIf="currentFixpartsQueue.length"
      class="row"
      [originQueue]="currentFixpartsQueue"
      (reworkQuery)="updateFixpartsQueue($event)"
    ></sortable-parts>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-md" (click)="compose(modal)">Compose parts to produce</button>
    </div>
  </div>
</div>

<template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Compose fixparts bunch</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="content">
      <div class="list-to-add">
        <div class="row" *ngFor="let part of composingList">
          <div class="col-sm-6">
            <label>Select part</label>
            <select class="form-control" [(ngModel)]="part.partid" (ngModelChange)="setFixpartItem(part)">
              <option *ngFor="let fixpart of fixpartsAvailToProduce" [ngValue]="fixpart.id">{{fixpart.text}}</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label>Qty</label>
            <input class="form-control" type="number" min="1" [(ngModel)]="part.items" />
          </div>
          <div class="col-sm-2">
            <label>Remove</label>
            <span class="glyphicon glyphicon-remove" (click)="removeComposingItem(part)"></span>
          </div>
        </div>
        <button class="btn btn-primary btn-md" (click)="addNewRowToComposingList()">Add</button>
      </div>
      <div class="buttons">
        <button class="btn btn-primary" (click)="addToMainQueue()" [disabled]="composingList.length < 1">Add to queue</button>
        <button class="btn btn-default" (click)="composingList=[];modalRef.hide()">Cancel</button>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-8 col-sm-10 col-xs-12">
          <p>Details count: <span>{{composingListItemsCount}}</span></p>
          <p>Time to produce: <span>{{composingListOveralTime}}</span> ms</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-8 col-sm-10 col-xs-12">
          <h3>Available parts to produce</h3>
          <ul class="list-group">
            <li *ngFor="let part of fixpartsAvailToProduce"
              class="list-group-item">
              {{part.text}}<span class="pull-right">{{part.timeToProduce}} ms</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
