<div class="container-fluid">
  <div class="row text-center">
    <button class="btn btn-lg"
      [ngClass]="{
        'btn-primary': !conveyorStatus,
        'btn-danger': conveyorStatus
      }"
      (click)="conveyorStatus=!conveyorStatus;changeStatus(conveyorStatus)"
    >{{ conveyorStatus ? 'Stop' : 'Start' }} conveyor</button>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12">
      <h4>Producing detail info:</h4>
      <p>Detail in work: <span>{{detailName}}</span></p>
      <p>Time to produce: <span>{{(detailInWork && detailInWork.timeToProduce) ? (detailInWork.timeToProduce * detailInWork.items + ' ms') : '-'}}</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Progress:</h4>
      <progressbar [animate]="false" [value]="progressPercentage"></progressbar>
    </div>
  </div>
</div>
