<div class="container-fluid">
  <div class="row text-center">
    <button class="btn btn-lg"
      [ngClass]="{
        'btn-primary': !conveyorStatus,
        'btn-danger': conveyorStatus
      }"
      (click)="conveyorStatus=!conveyorStatus"
    >{{ conveyorStatus ? 'Stop' : 'Start' }} conveyor</button>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12">
      <p>Detail in work: <span>{{deteilInWork}}</span></p>
      <p>Remaining time: <span>{{RemainingTime}}</span> ms</p>
    </div>
  </div>
</div>
